@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root{
  font-size: 62.5%; /* 1rem = 10px */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.6rem;
}

body{
  background-color: #151212d4;
  width: 100vw;
  height: 100vh;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


header{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47, 12, 55, 0.888) 58%, rgb(4, 53, 63) 100%);

  color: white;

  padding: 1rem;
  text-align: center;
}

main{
  padding: 3rem 5rem;
}

.container{
  width: 100%;
  background-color: #fff
}

.content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.adicionar{
  width: 16rem;
  background-color: rgb(51,51,255);
  padding: .7rem;
  color: #fff;
  border: none;
  cursor: pointer;
}

table{
  border-collapse: collapse;
  border-spacing: 0.5rem;
}

tr{
  text-align: center;
}

tr:nth-child(odd){
  background-color: #fff;
}

tr:nth-child(even){
  background-color: #EAEAEA;
}

th{
  background-color: #213435;
  color: #fff;
}

td,th{
  border: 1px solid #999;
  padding: 0.5rem;
}

table, th, td {
  border: .4rem solid #f2f2ecf5;
}

.acoes img{
  width: 2rem;
  cursor: pointer; 
}

.acoes img:first-of-type{
  margin-right: .3rem;
}

.edit{
  width: 100%;
  display: none;
}

.show{
  display: block !important;
}

.form{
  display: flex;
  justify-content: space-around;
}

label{
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: 0;
}




